
/* body {
  background: url(grover-farm-trucking-removebg.png) no-repeat center fixed;
  background-size: auto;
} */

.nav-color {
  background-color: #31475c;
}

.gft-hero {
  /* background-color: #b6201f; */
  background-color: #31475c;
  /* background-color: #fff; */
}

.button-bar {
  /* height: 100px; */
  /* outline: solid; */
}

.quote-banner-red {
  background: #b6201f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d63430, #b6201f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d63430, #b6201f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.quote-banner-red-red {
  background: #b6201f;  /* fallback for old browsers */
  color: #fff;
}

.quote-banner-blue {
  background: #31475c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8d363e, #31475c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8d363e, #31475c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.grey-gradient {
  background: #a1adb6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e6e6e9, #a1adb6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e6e6e9, #a1adb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

.btn-secondary {
    background-color: #31475c !important;
    /* background-color: #b6201f !important; */
}

.work-banner {
  background: #a1adb6;  /* fallback for old browsers */
  color: black;
}

.footy  {
  background-color: #31475c;
  color: #fff;
  /* height: 20px; */
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
